body {
	background-color: #4D4D4D;
	font-family:"Roboto", arial;
}

@media screen and (max-width: 1067px) {
	#main {
		width:800px;
	}
}

@media screen and (min-width: 1067px) {
	#main {
		width:75%;
	}
}
header {
	background-color: #4D4D4D;
	height:15%;
	width:100%;
	top:0px;
	position:fixed;
	text-align: center;
}

#main {
	background-color: #808080;
	overflow: hidden;
	margin:auto;
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

nav {
	background-color: #4D4D4D;
	position: fixed;
	right: 40.5%;
	width: 19%;
	height: 100%;
	margin: 0px 0px 20% 20%;
}

#menu-principal {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
	width: 100%;
}
.sub-menu {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
}
.menu-item {
	margin: 0em 1em 1em 1em;
}
.sub-menu-item {
	overflow: hidden;
}
.sub-bleu {
	background-color: #23AEA3;
}
.sub-jaune {
	background-color: #FFD334;
}
.sub-rose {
	background-color: #DC2D7F;
}

#menu-principal a {
	display:block;
	text-decoration: none;
	color: white;
	padding: 8px 0;
}
.menu-item a {
	font-size: 20px;	
}
.sub-menu-item a {
	font-size:16px;
}
.menu-bleu {
	background: #00A99D
}
.menu-jaune {
	background: #FFC700
}
.menu-rose {
	background: #DA0067
}

.menu-bleu:before {
	background: #006B64
}
.menu-jaune:before {
	background: #FFD334
}
.menu-rose:before {
	background: #DC2D7F
}

.sub-bleu:hover {
	background: #00857B;
}
.sub-jaune:hover {
	background: #D8A900;
}
.sub-rose:hover {
	background: #B40055;
}
.colonne {
	width: 37%;
}


footer {
}
