body {
	background-color: #808080;
	font-family:"Roboto", arial;
}

@media screen and (max-width: 1067px) {
	#main {
		width:800px;
	}
}

@media screen and (min-width: 1067px) {
	#main {
		width:75%;
	}
}
header {
	background-color: #808080;
	height:15%;
	width:100%;
	top:0px;
	position:fixed;
	text-align: center;
}

#main {
	background-color: #B3B3B3;
	overflow: hidden;
	margin:auto;
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

nav {
	background-color: #808080;
 	position: fixed;
 	right: 40.5%;
 	width: 19%;
 	height: 100%;
 	margin: 0px 0px 20% 20%;
}

#menu-principal {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 100%;
}
.sub-menu {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
.menu-item-bleu, .menu-item-jaune, .menu-item-rose {
   background-color:#808080; 
}
li.sub-menu-item {
   overflow: hidden;
   background-color: #00A99D;
}
#menu-principal a {
	display:block;
	text-decoration: none;
	color: white;
	padding: 8px 0;
}
li.menu-item-bleu, .menu-item-jaune, .menu-item-rose a {
	font-size: 20px;
}
li.sub-menu-item a {
  font-size:16px;
}
li.menu-item-bleu:hover {
   background: #43BAB2
}
li.menu-item-jaune:hover {
	background: #FFDB5C
}
li.menu-item-rose:hover {
	background: #E25195
}

li.sub-menu-item:hover {
   background: #006B64;
}
.menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
.menu-accordeon li:hover li {
  max-height: 15em;
}

.colonne {
	width: 37%;
}


footer {
}
