body {
	background-color: #808080;
	font-family:"Roboto", arial;
}

@media screen and (max-width: 1067px) {
	#main {
		width:800px;
	}
}

@media screen and (min-width: 1067px) {
	#main {
		width:75%;
	}
}
header {
	background-color: #808080;
	height:15%;
	width:100%;
	top:0px;
	position:fixed;
	text-align: center;
}

#main {
	background-color: #B3B3B3;
	overflow: hidden;
	margin:auto;
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

nav {
	background-color: #808080;
	position: fixed;
	right: 40.5%;
	width: 19%;
	height: 100%;
	margin: 0px 0px 20% 20%;
}

#menu-principal {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
	width: 100%;
}
.sub-menu {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
}
.menu-item {
	background-color:#808080; 
}
.sub-menu-item {
	overflow: hidden;
}
.sub-bleu {
	background-color: #00A99D;
}
.sub-jaune {
	background-color: #FFC700;
}
.sub-rose {
	background-color: #DA0067;
}

#menu-principal a {
	display:block;
	text-decoration: none;
	color: white;
	padding: 8px 0;
}
.menu-item a {
	font-size: 20px;
}
.sub-menu-item a {
	font-size:16px;
}
.menu-bleu:hover {
	background: #43BAB2
}
.menu-jaune:hover {
	background: #FFDB5C
}
.menu-rose:hover {
	background: #E25195
}

.sub-bleu:hover {
	background: #006B64;
}
.sub-jaune:hover {
	background: #AF8900;
}
.sub-rose:hover {
	background: #920045;
}
.colonne {
	width: 37%;
}


footer {
}
