body {
	background-color: #777777;
	font-family:"Roboto", arial;
}

@media screen and (max-width: 1067px) {
	#main {
		width:800px;
	}
}

@media screen and (min-width: 1067px) {
	#main {
		width:75%;
	}
}
header {
	background-color: #777777;
	text-align: center;
	height:15%;
}
#main {
	background-color: #B3B3B3;
	overflow: hidden;
	margin:auto;
	height:1000px;
}

#barre-gauche {
	float:left;
}

#barre-droite {
	float:right;
}

nav {
	background-color: #777777;
	border-style: none;
	width: 26%;
	margin:auto;
}

.colonne {
	width: 37%;
}

.cadre {
	background-color:#E6E6E6;
	width:auto;
	margin:1em 1em 1em 1em;
	height:250px;
}

#cadre1 {
	background-color:;
}

footer {
}