body {
	background-color: #777777;
	font-family:"Roboto", arial;
}

@media screen and (max-width: 1143px) {
	#main {
		width:800px;
	}
}

@media screen and (min-width: 1143px) {
	#main {
		width:70%;
	}
}

#main {
	background-color: #B3B3B3;
	overflow: hidden;
	margin:auto;
}

#barre-gauche {
	float:left;
	border-style: solid;
	border-color: #98bf21;
	width: 35%;
}

#barre-droite {
	float:right;
	border-style: solid;
	border-color: #98bf21;
	width: 35%;
}

nav {
	background-color: #777777;
	border-style: none;
	width: 20%;
	margin:auto;
}

.colonne {
	
}

.cadre {
	background-color:#E6E6E6;
	width:auto;
	margin:1em 1em 1em 1em;
	height:150px;
}

#cadre1 {
	background-color:;
}

footer {
}